@model List<Mission08_Team0210.Models.Task>
@using System.Linq


@{
    ViewData["Title"] = "Home Page";
}
<br/>
<div class="text-center">
    <h1 class="display-4">My Tasks</h1>
</div>
<br/>

<main class="container mt-4">
    <div class="row">
        <div class="col-md-2" style="background-color: #ffee8c;"></div> <!-- Empty space  -->
        <div class="col-md-5 border border-dark p-2 text-center" style="background-color: #ffee8c;"><h2>Urgent</h2></div>
        <div class="col-md-5 border border-dark p-2 text-center" style="background-color: #ffee8c;"><h2>Not Urgent</h2></div>
    </div>

    <div class="row">
        <div class="col-md-2 d-flex border border-dark p-2 align-items-center justify-content-center text-center" style="background-color: #ffee8c;">
            <!-- title -->
            <h2 class="vertical-text">Important</h2>
        </div>

        <!-- Quadrant 1 -->
        <div class="col-md-5 border border-dark p-3" style="background-color: #ffee8c;">
            <h3 class="text-center">Quadrant 1 - Important / Urgent</h3>
            <ul class="list-group">
                @foreach (var task in Model.Where(t => t.Quadrant == 1))
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #fff8ba;">
                        <div>
                            <form asp-action="MarkComplete" asp-controller="Home" asp-route-id="@task.TaskId" method="post" style="display:inline; padding-right: 10px;">
                                <input type="hidden" name="id" value="@task.TaskId" />
                                <button type="submit" class="btn btn-danger btn-sm" style="background-color: #5e975a; border-color: #324930; color: white;">
                                    Complete
                                </button>

                            </form>
                            @task.TaskName
                        </div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@task.TaskId" class="btn btn-warning btn-sm"
                               style="background-color: #5c9fe2; border-color: #3482d3; color: white;"
                            >Edit</a>
                            <form asp-action="Delete" asp-controller="Home" asp-route-id="@task.TaskId" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@task.TaskId" />
                                <button type="submit" class="btn btn-danger btn-sm" style="background-color: #3482d3; border-color: #124578; color: white;"
                                        onclick="return confirm('Are you sure you want to delete?');">Delete</button>
                            </form>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <!-- Quadrant 2 -->
        <div class="col-md-5 border border-dark p-3" style="background-color: #ffee8c;">
            <h3 class="text-center">Quadrant 2 - Important / Not Urgent</h3>
            <ul class="list-group">
                @foreach (var task in Model.Where(t => t.Quadrant == 2))
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #fff8ba;">
                        <div>
                            <form asp-action="MarkComplete" asp-controller="Home" asp-route-id="@task.TaskId" method="post" style="display:inline; padding-right: 10px;">
                                <input type="hidden" name="id" value="@task.TaskId" />
                                <button type="submit" class="btn btn-danger btn-sm" style="background-color: #5e975a; border-color: #324930; color: white;">
                                    Complete
                                </button>

                            </form>
                            @task.TaskName
                        </div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@task.TaskId" class="btn btn-warning btn-sm"
                               style="background-color: #5c9fe2; border-color: #3482d3; color: white;"
                            >Edit</a>
                            <form asp-action="Delete" asp-controller="Home" asp-route-id="@task.TaskId" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@task.TaskId" />
                                <button type="submit" class="btn btn-danger btn-sm" style="background-color: #3482d3; border-color: #124578; color: white;"
                                        onclick="return confirm('Are you sure you want to delete?');">Delete</button>
                            </form>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <div class="col-md-1"></div> <!-- Empty space -->
    </div>

    <div class="row">
        <div class="col-md-2 d-flex border border-dark p-2 align-items-center justify-content-center text-center" style="background-color: #ffee8c;">
            <!-- title -->
            <h2 class="vertical-text">Not Important</h2>
        </div>

        <!-- Quadrant 3 -->
        <div class="col-md-5 border border-dark p-3" style="background-color: #ffee8c;">
            <h3 class="text-center">Quadrant 3 - Not Important / Urgent</h3>
            <ul class="list-group">
                @foreach (var task in Model.Where(t => t.Quadrant == 3))
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #fff8ba;">
                        <div>
                            <form asp-action="MarkComplete" asp-controller="Home" asp-route-id="@task.TaskId" method="post" style="display:inline; padding-right: 10px;">
                                <input type="hidden" name="id" value="@task.TaskId" />
                                <button type="submit" class="btn btn-danger btn-sm" style="background-color: #5e975a; border-color: #324930; color: white;">
                                    Complete
                                </button>

                            </form>
                            @task.TaskName
                        </div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@task.TaskId" class="btn btn-warning btn-sm"
                               style="background-color: #5c9fe2; border-color: #3482d3; color: white;"
                            >Edit</a>
                            <form asp-action="Delete" asp-controller="Home" asp-route-id="@task.TaskId" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@task.TaskId" />
                                <button type="submit" class="btn btn-danger btn-sm" style="background-color: #3482d3; border-color: #124578; color: white;"
                                        onclick="return confirm('Are you sure you want to delete?');">Delete</button>
                            </form>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <!-- Quadrant 4 -->
        <div class="col-md-5 border border-dark p-3" style="background-color: #ffee8c;">
            <h3 class="text-center">Quadrant 4 - Not Important / Not Urgent</h3>
            <ul class="list-group">
                @foreach (var task in Model.Where(t => t.Quadrant == 4))
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: #fff8ba;">
                        <div>
                            <form asp-action="MarkComplete" asp-controller="Home" asp-route-id="@task.TaskId" method="post" style="display:inline; padding-right: 10px;">
                                <input type="hidden" name="id" value="@task.TaskId" />
                                <button type="submit" class="btn btn-danger btn-sm" style="background-color: #5e975a; border-color: #324930; color: white;">
                                    Complete
                                </button>

                            </form>
                            @task.TaskName
                        </div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@task.TaskId" class="btn btn-warning btn-sm"
                               style="background-color: #5c9fe2; border-color: #3482d3; color: white;"
                            >Edit</a>
                            <form asp-action="Delete" asp-controller="Home" asp-route-id="@task.TaskId" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@task.TaskId" />
                                <button type="submit" class="btn btn-danger btn-sm" style="background-color: #3482d3; border-color: #124578; color: white;"
                                        onclick="return confirm('Are you sure you want to delete?');">Delete</button>
                            </form>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <div class="col-md-1"></div> <!-- Empty space -->
    </div>
</main>


